<% include partials/header.ejs %>

<h2>Login Here</h2>
<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
  <button type="submit" name="button">Login</button>
</form>
<% include partials/footer.ejs %>
