<% include partials/header.ejs %>
<h1><%= foundData.name %></h1>
<img src="<%=foundData.image%>" alt="">
<p><%= foundData.description %></p>
<!-- <% foundData.comments.forEach(function(camp){ %>
  <p>kelvin</p>
<%})%> -->
<!-- <p>klkfjkljgkldjkf</p> -->
<p><a href="/campgrounds">Go Back</a></p>
<% include partials/footer.ejs %>
